/*--------------------------------------------------------------
  Variables de estilos
  -------------------------------------------------------------*/
/*COLORES*/
$primary: #F05F40;
$secondary: #222222;

/*FONDOS*/
$encabezado: rgba(0, 0, 0, 0.591);

/*TEXTOS*/
$menuEncabezado: rgb(235, 230, 230);

/*FUENTES*/
$fuentePrincipal: 'Open Sans', sans-serif;

/*--------------------------------------------------------------
  Modificando Variables de Bootstrap
  -------------------------------------------------------------*/
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4.5),
    7: ($spacer * 6),
    8: ($spacer * 7.5),
    9: ($spacer * 9),
    10: ($spacer * 10)
    );
/*--------------------------------------------------------------
  Importando Bootstrap
  -------------------------------------------------------------*/
@import"../libs/bootstrap-4.4.1/scss/bootstrap";

/*--------------------------------------------------------------
  Estilos Generales
  -------------------------------------------------------------*/
html{
  font-size: 15px;
}

body{
  font-family: $fuentePrincipal !important;
}

/*--------------------------------------------------------------
  Menu principal
  -------------------------------------------------------------*/

.bienvenidos{
  background: url("../images/fondo-bienvenidos.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.encabezado{  
  .fixed-top{
    background: $encabezado;
  }
  .navbar-light .navbar-brand {
    color: $menuEncabezado;
    font-size: 1.2rem;
  }

  .icono::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    color: $menuEncabezado;
    font-size: 2rem;
  }

  .icono-cerrar::before {
    content: "\f00d";
    font-size: 2rem;
  }

  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-brand:focus {
    color: darken($menuEncabezado, 20);
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    font-size: 1.5rem;
  }

  .navbar-light .navbar-nav { 
    .nav-link {
    color: $menuEncabezado;
    text-align: center;
    // margin: .2rem 0;
    }
    .nav-link:hover{
      background-color: $primary;
      color: lighten($menuEncabezado, 50%);
      font-weight: bold;
    }
    .active a{
      background-color: $primary;
      color: lighten($menuEncabezado, 50%);
      font-weight: bold;
    } 
  }  
}

/*--------------------------------------------------------------
  Texto bienvenido
  -------------------------------------------------------------*/

.texto-bienvenido{
  // padding-top: 4rem;
}

/*--------------------------------------------------------------
  Seccion Servicios
  -------------------------------------------------------------*/
#servicios{
  .fas{
    color: $primary;
  }
}